<%= link_to 'Claer All', '/log/results/clean' %>
<%= link_to :reset_level, '/log/results/reset_level' %>
<style type="text/css">
  .info_point { float: left; }
  ul { list-style: none; }
  .span6 {min-width: 600px;}
  .span1 {min-width: 40px;}
  .span2 {min-width: 80px;}
  .span3 {min-width: 150px;}
</style>
<br>
<br>
<ul>
  <% @log_items.each do |log_item| %>
    <li>
      <div class="info_point span1"><%= log_item.duration %></div>
      <div class="info_point span6">
        <div style="margin-left: <%= log_item.level * 20%>px;">
          <%= link_to log_item.path_with_line, log_item.editor_link %>
        </div>
      </div>
      <div class="info_point span3"><%= log_item.action %></div>
      <div class="info_point span2"><%= link_to 'report', log_item.report_link, target: '_blank' %></div>
      <div class="info_point"><%= link_to 'callers', log_item.show_link, target: '_blank' %></div>
      <div style="clear:both"></div>
    </tr>
  <% end %>
</ul>
